:root {
    --main-color: #185c53;
    --sub-color: #107525;
    --secondary-color: #ffc845;
    --dark-color: #000;
    --light-color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    margin: 0 auto;
    max-width: 600px;
    font-size: 18px;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--main-color);
    color: var(--light-color);
    height: 150px;
    padding: 0 20px;
}

nav .menu {
    display: flex;
    gap: 10px;
}
.menu li,
.menu a {
    color: var(--light-color);
    text-decoration: none;
}
.menu li.current a {
    font-weight: 700;
    color: var(--secondary-color);
}

@media screen and (min-width: 540px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: unset;
    }
}
main {
    background-color: var(--secondary-color);
    flex: 1;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 90px;
    background-color: var(--sub-color);
    color: var(--light-color);
    font-size: 1.4rem;
}
.sub-header .icon {
    background-color: var(--light-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-header .icon i {
    color: var(--sub-color);
    font-size: 1.4rem;
}

.buyed-data {
    display: flex;
    align-items: center;
}
.buyed-data .total-items {
    display: inline-block;
    margin-right: 8px;
}

.shop-list {
    padding: 25px 20px 40px;
    background-color: var(--secondary-color);
    flex: 1;
}

.shop-list .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.shop-list .row-checked label,
.shop-list .row-checked .price {
    text-decoration: line-through;
}

.shop-list label,
.price {
    font-size: 1.2rem;
}

.row-left,
.row-right {
    display: flex;
    align-items: center;
    gap: 13px;
}

input[type="checkbox"] {
    width: 23px;
    height: 23px;
}
.list-remove {
    border: none;
    background: none;
}

.row-right .price + .list-remove > .fa-plus {
    transform: rotate(45deg);
    font-size: 1.4rem;
}

.shop-list .row.row-total {
    justify-content: flex-end;
    border-top: 1px solid var(--dark-color);
    padding-top: 20px;
    margin-top: 8px;
}
.shop-list .row.row-total .price {
    font-size: 1.4rem;
}

.add-form {
    padding: 25px 20px 40px;
}
.add-form h2 {
    margin-bottom: 30px;
}

.form input,
.form label,
.form button {
    display: block;
}
.form label {
    margin-bottom: 15px;
}

.form input[type="text"] {
    width: 90%;
    max-width: 375px;
    height: 60px;
    margin-bottom: 25px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

.form input:nth-child(4) {
    display: inline-block;
}

.form button[type="submit"] {
    background-color: var(--main-color);
    color: var(--light-color);
    padding: 15px 10px;
    border: none;
    font-size: 1.1rem;
}

.form .currency {
    margin-left: 10px;
    font-size: 1.2rem;
}
